body {
  text-align: center;
  background-color: rgb(191, 231, 191);
  color: darkgreen;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 900;
}
form {
  width: 70%;
  margin: auto;
  margin-top: 30px;
}
input {
  width: 80px;
  background-color: rgb(222, 249, 222);
  color: darkgreen;
  font-size: 18px;
}
select {
  background-color: rgb(222, 249, 222);
  padding: 3px;
  color: darkgreen;
  font-size: 18px;
}
button {
  padding: 6px;
  border: 2px solid transparent;
  border-radius: 5px;
  margin-left: 15px;
  background-color: darkgreen;
  color: rgb(222, 249, 222);
  font-size: 17px;
}
button:hover {
  background-color: rgb(222, 249, 222);
  border: 2px solid darkgreen;
  color: darkgreen;
  cursor: pointer;
}
ul {
  display: grid;
  grid-template-columns: auto auto;
  list-style: none;
  width: 60%;
  margin: auto;
  margin-top: 40px;
}
.error {
  color: red;
}
#target-output {
  color: green;
  width: 300px;
  margin: auto;
  border: 3px solid darkgreen;
  margin-top: 40px;
  font-size: 25px;
  background-color: rgb(222, 249, 222);
}
.rate-item {
  background-color: rgb(224, 222, 222);
  border: 1px solid black;
  font-size: 18px;
}
.rate-item:nth-child(4n) {
  background-color: rgb(191, 189, 189);
}
.rate-item:nth-child(4n + 3) {
  background-color: rgb(191, 189, 189);
}
.rate-item span {
  color: black;
}
.hidden {
  display: none;
}
